:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.logo-light-theme {
    color:#000000;
}

.logo-dark-theme {
    color: #FFFFFF;
}

/* =============== HEADER =============== */

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

}

.navigation-link:hover,
.navigation-link:focus{
    color: #2196F3;;
}

.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    color: #757575;

}

.tel-link:hover,
.tel-link:focus {
    color: #2196F3
}

.post-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    color: #757575;
}

.post-link:hover,
.post-link:focus {
    color: #2196F3
}
/* =============== END HEADER =============== */

/* =============== HERO =============== */

.hero-titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* color: #FFFFFF; */
}

.modal-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color: #FFFFFF; */

}
/* =============== END HERO =============== */


/* =============== FEATURES =============== */
.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.features-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    color: #757575;
}
/* =============== END FEATURES =============== */

.section-subtitel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

/* =============== TEAM =============== */
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.team-des {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}
/* =============== TEAM =============== */

